<form [formGroup]="form" (ngSubmit)="submit()" class="any-bank-payment-form">
  <div class="card">
    <div class="card-payment-systems">
      <img class="card-payment-system-image" src="../assets/images/visa.png" alt="visa" title="visa">
      <img class="card-payment-system-image" src="../assets/images/master-card.png" alt="master-card" title="master-card">
      <img class="card-payment-system-image" src="../assets/images/maestro.png" alt="maestro" title="maestro">
    </div>
    <div class="card-number">
      <input class="card-number-input" formControlName="card-number" type="text"
             (keypress)="formatCardNumber($event)" placeholder="Номер карты">
    </div>
    <div class="card-additional-info">
      <input class="card-release-date-input" formControlName="card-release-date" type="text"
             (keypress)="formatReleaseDate($event)" placeholder="ММ/ГГ">
      <input class="card-cvc-input" formControlName="card-cvc" type="text"
             (keypress)="formatCVC($event)" placeholder="CVC">
    </div>
  </div>
  <div class="payment-details">
    <label for="any-bank-payment-amount" class="any-bank-payment-amount-text sub-header">Сумма</label>
    <input class="any-bank-payment-amount-input" formControlName="payment-amount" type="number"
           (keypress)="formatPaymentAmount($event)" id="any-bank-payment-amount" placeholder="от 1000 до 75000 ₽">
    <label for="any-bank-payment-comment" class="any-bank-payment-comment-text sub-header">Комментарий</label>
    <input class="any-bank-payment-comment-input" formControlName="payment-comment" id="any-bank-payment-comment"
           type="text" placeholder="До 150 символов" pattern=".{0-150}" maxlength="150">
    <label for="any-bank-payment-email" class="any-bank-payment-email-text sub-header">Ваша эл.почта</label>
    <input class="any-bank-payment-email-input" formControlName="payment-email" type="email"
           id="any-bank-payment-email" placeholder="Для квитанций об оплате">
    <button type="submit" class="any-bank-payment-submit" [disabled]="!form.valid">Заплатить</button>
  </div>
</form>
