<section class="payment-area">
  <div class="operation-types">
    <span class="operation-payment clickable header" (click)="selectedPayment = true"
          [ngClass]="{selected: selectedPayment}">Заплатить</span>
    <span class="operation-require-payment clickable header" (click)="selectedPayment = false"
          [ngClass]="{selected: !selectedPayment}">Запросить платёж</span>
  </div>
  <div class="payment-types">
    <!-- TODO: Need svg here -->
    <span class="payment-any-bank clickable" (click)="selectedAnyBankPayment = true"
          [ngClass]="{selectedBank: selectedAnyBankPayment}">С карты любого банка</span>
    <!-- TODO: Need svg here -->
    <span class="payment-my-bank clickable" (click)="selectedAnyBankPayment = false"
          [ngClass]="{selectedBank: !selectedAnyBankPayment}">Из своего интернет-банка</span>
  </div>
  <app-any-bank-payment *ngIf="selectedPayment && selectedAnyBankPayment"></app-any-bank-payment>
  <app-my-bank-payment *ngIf="selectedPayment && !selectedAnyBankPayment"></app-my-bank-payment>
  <app-require-payment *ngIf="!selectedPayment"></app-require-payment>
</section>
