<main class="main">
  <app-company-info></app-company-info>
  <app-payment-area></app-payment-area>
  <app-about-company></app-about-company>
</main>
<footer>
  <img src="../assets/images/twitter.png" alt="twitter image" class="social-image">
  <img src="../assets/images/facebook.png" alt="facebook image" class="social-image">
  <img src="../assets/images/google.jpg" alt="google image" class="social-image">
  <img src="../assets/images/vk.png" alt="vk image" class="social-image">
  <img src="../assets/images/odnoklassniki.jpg" alt="odnoklassniki image" class="social-image">
  <img src="../assets/images/linkedin.png" alt="linkedin image" class="social-image">
  <img src="../assets/images/telegram.png" alt="telegram image" class="social-image">

</footer>
