@import '../app.component';

input[type="text"].ng-valid,
input[type="text"].ng-invalid.ng-touched
{
  border-bottom: 1px solid grey;
}

.admin-authentication-failed
{
  color: red;
  transition: .5s;
}

.admin-login-form-wrapper
{
  margin-top: 200px;
}

.admin-login-form
{
  width: fit-content;
  margin: auto;
  display: grid;
  grid-template:
    "login-text login-input"
    "password-text password-input"
    "login-button login-button"
    / auto 1fr;
  box-shadow: 0 0 20px 1px grey;
  border-radius: 5px;
  *
  {
    margin: 20px;
  }
}

.admin-login-text
{
  grid-area: login-text;
}

.admin-login-input
{
  grid-area: login-input;
  width: 200px;
}

.admin-password-text
{
  grid-area: password-text;
}

.admin-password-input
{
  grid-area: password-input;
  width: 200px;
}

.admin-login-button
{
  grid-area: login-button;
}

.admin-authentication-failed
{
  width: fit-content;
  margin: auto;
  margin-top: 30px;
}

.payment-info
{
  margin-left: 20px;
}

.payment-info-options
{
  display: flex;
  *
  {
    margin-right: 20px;
    margin-top: 20px;
  }
}
